.nav-bar, button {
    background-color: bisque;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;

}
.nav-bar button {
    border-bottom: none;
    cursor: pointer;
    transition: 0.3s;
}

.nav-bar button:hover {
    transform: scale(1.1, 1.1);
}

.nar-bar .button-pushed {
    background-color: gray;
}


body {
    background-color: aqua;
}

.home-page {
    background-color: beige;
    display: flex;
    
}