.nav-bar, button {
    background-color: bisque;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;

}
.nav-bar button {
    border-bottom: none;
    cursor: pointer;
    transition: 0.3s;
}

.nav-bar button:hover {
    transform: scale(1.1, 1.1);
}

.nar-bar .button-pushed {
    background-color: gray;
}


body {
    background-color: aqua;
}


.menu-item {
    display: flex;
    background-color: blue;
    width: 400px;
    height: 200px;

}

.menu-title {
    font-size: 2rem;
    text-align: center;
    grid-column: span 3;
}

.menu-page {
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    height: 75vh;
    padding: 20px;
}

.home-page {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    padding: 20px;
}

.intro-img {
    width: 200px;
    height: 100px;
    background-color: red;
    float: right;
}